.sidebar {
    position: fixed;
    height:100%;
    color:white;
    background-color: #23232e;
    display:flex;
    flex-direction: column;
    font-size:1.1rem;
}

.nav-link {
    color: white;
}
